{#
/**
 * Block Name: Info block
 *
 * This is the template that displays the example block.
 */
#}

<div id="block-{{ block.id }}" class="block block-info">
	<h4>{{ fields.titel }}</h4>
  <p>{{ fields.content }}</p>
  {% if fields.knop %} 
		<a class="btn btn-light" href="{{ fields.knop.url }}"> 
			{{ fields.knop.title }} 
		</a>
	{% endif %}
</div>

<style type="text/css">
    #block-{{ block.id }} {
	    
    }
</style>