<section class="mod-team bg-{{item.achtergrond}}">
  <div class="container">
		{% if item.titel %}
			<div class="text-center">
				<h2> {{ item.titel }} </h2>
			</div>
		{% endif %}
		{% if teamterms %}
			<div class="mod-filterblocks">
				<div class="text-center">
					{% for item in teamterms %}
						<a href="{{item.link}}" class="btn btn-light">{{ item }}</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
  		
  		{% set delay = 0 %}
  		{% if item.toon_alle_teamleden %}
    		{% set collapsegroup = 1 %}
	    {% for item in team %}
	      {% if loop.index0 == 0 or loop.index0 == 12 or loop.index0 == 24 or loop.index0 == 36 %}
	      		<div id="collapse{{collapsegroup}}" class="collapse {% if loop.first %} show {% endif %} ">
						<div class="row">
					{% endif %}
							<div class="col-sm-6 col-lg-3" style="margin-bottom: 30px;" data-aos="fade-up" data-aos-duration="600" data-aos-delay="{{delay}}" data-aos-easing="ease-in-sine">
								{% include 'tease-team.twig' %}
							</div>
					{% if loop.index0 == 11 or loop.index0 == 23 or loop.index0 == 35 or loop.index0 == 47 or loop.last %}
						{% set collapsegroup = collapsegroup + 1 %}
						</div>
						<div class="text-center">
							<a href="" class="btn btn-primary js-destroyafterclick" data-toggle="collapse" data-target="#collapse{{ collapsegroup }}"> Bekijk meer </a>
						</div>
	      		</div>
				{% endif %}
	    {% endfor %}
	   {% else %}
	   	<div class="row">
	     	{% for item in team|slice(0, 4) %}
	        <div class="col-sm-6 col-lg-3" style="margin-bottom: 30px;" data-aos="fade-up" data-aos-duration="600" data-aos-delay="{{delay}}" data-aos-easing="ease-in-sine">
	          {% include 'tease-team.twig' %}
	        </div>
	        {% set delay = delay + '100' %}
	      {% endfor %}
	   	</div>
	   {% endif %}
    </div>
    {% if item.knop %}
			<div class="text-center" data-aos="fade-in" data-aos-duration="800" >
				<br>
				<a class="btn btn-primary" href="{{ item.knop.url }}">
					{{ item.knop.title }} 
				</a>
			</div>
    {% endif %}
  </div>    
</section>